<!DOCTYPE html>
<html xmlns="">
<head>
    <meta charset="UTF-8">
    <title>Token</title>
    <!-- import CSS -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui@2.4.6/lib/theme-chalk/index.css">
    {{ JSGlue.include() }}
    <style>
        .el-select .el-input {
            width: 240px;
        }

        .input-with-select .el-input-group__prepend {
            background-color: #fff;
        }
    </style>
</head>
<body>
<div id="vue-app" style="width:1200px; margin:auto">

    <el-tabs type="border-card">
        <el-tab-pane label="Information Query">
            <el-row :gutter="20">
                <el-col :span="24">
                    <div style="margin-bottom: 15px;">
                        <el-input
                                placeholder="Please input TxHash"
                                type="string"
                                v-model="eventKey"
                                class="input-with-select">
                            <el-select v-model="eventInfoSelect" slot="prepend" placeholder="Select">
                                <el-option label="State" value="State"></el-option>
                                <el-option label="GasConsumed" value="GasConsumed"></el-option>
                                <el-option label="Notify" value="Notify"></el-option>
                            </el-select>
                            <el-button slot="append" icon="el-icon-search" @click="queryEvent"></el-button>
                        </el-input>
                    </div>
                </el-col>
            </el-row>

            <el-row :gutter="20">
                <el-col :span="8">
                    <div class="grid-content bg-purple">
                        <el-row>
                            <el-button type="primary" round @click="getName">Token Name</el-button>
                        </el-row>
                    </div>
                </el-col>
                <el-col :span="8">
                    <div class="grid-content bg-purple">
                        <el-row>
                            <el-button type="primary" round @click="getSymbol">Token Symbol</el-button>
                        </el-row>
                    </div>
                </el-col>
                <el-col :span="8">
                    <div class="grid-content bg-purple">
                        <el-row>
                            <el-button type="primary" round @click="getDecimal">Decimal</el-button>
                        </el-row>
                    </div>
                </el-col>
            </el-row>
        </el-tab-pane>

        <el-tab-pane label="Token Transfer">
            <el-row :gutter="20">
                <el-col :span="11">
                    <div class="grid-content bg-purple-light">
                        <el-row>
                            <el-input
                                    size="medium"
                                    type="string"
                                    placeholder="base58 encode address"
                                    suffix-icon="el-icon-location"
                                    v-model="inputTransferTo">
                                <template slot="prepend">to</template>
                            </el-input>
                        </el-row>
                    </div>
                </el-col>
                <el-col :span="10">
                    <div class="grid-content bg-purple">
                        <el-row>
                            <el-input
                                    size="medium"
                                    type="number"
                                    placeholder="the amount of oep4 token"
                                    suffix-icon="el-icon-caret-right"
                                    v-model="inputTransferAmount">
                                <template slot="prepend">amount</template>
                            </el-input>
                        </el-row>
                    </div>
                </el-col>
                <el-col :span="2">
                    <div class="grid-content bg-purple">
                        <el-row>
                            <el-button type="primary" round @click="transfer">transfer</el-button>
                        </el-row>
                    </div>
                </el-col>
            </el-row>
        </el-tab-pane>

        <el-tab-pane label="Token TransferMulti">
            <el-form :model="dynamicValidateForm" ref="dynamicValidateForm" label-width="100px" class="demo-dynamic">
                <el-form-item
                        prop="email"
                        label="邮箱"
                        :rules="[
      { required: true, message: '请输入邮箱地址', trigger: 'blur' },
      { type: 'email', message: '请输入正确的邮箱地址', trigger: ['blur', 'change'] }
    ]"
                >
                    <el-input v-model="dynamicValidateForm.email"></el-input>
                </el-form-item>
                <el-form-item
                        v-for="(domain, index) in dynamicValidateForm.domains"
                        :label="'域名' + index"
                        :key="domain.key"
                        :prop="'domains.' + index + '.value'"
                        :rules="{
      required: true, message: '域名不能为空', trigger: 'blur'
    }"
                >
                    <el-input v-model="domain.value"></el-input>
                    <el-button @click.prevent="removeDomain(domain)">删除</el-button>
                </el-form-item>
                <el-form-item>
                    <el-button type="primary" @click="submitForm('dynamicValidateForm')">提交</el-button>
                    <el-button @click="addDomain">新增域名</el-button>
                    <el-button @click="resetForm('dynamicValidateForm')">重置</el-button>
                </el-form-item>
            </el-form>
        </el-tab-pane>

        <el-tab-pane label="Token Approve">
            <el-row :gutter="20">
                <el-col :span="11">
                    <div class="grid-content bg-purple-light">
                        <el-row>
                            <el-input
                                    size="medium"
                                    type="string"
                                    placeholder="base58 encode address"
                                    suffix-icon="el-icon-location"
                                    v-model="inputTransferTo">
                                <template slot="prepend">spender</template>
                            </el-input>
                        </el-row>
                    </div>
                </el-col>
                <el-col :span="10">
                    <div class="grid-content bg-purple">
                        <el-row>
                            <el-input
                                    size="medium"
                                    type="number"
                                    placeholder="the amount of oep4 token"
                                    suffix-icon="el-icon-caret-right"
                                    v-model="inputTransferAmount">
                                <template slot="prepend">amount</template>
                            </el-input>
                        </el-row>
                    </div>
                </el-col>
                <el-col :span="2">
                    <div class="grid-content bg-purple">
                        <el-row>
                            <el-button type="primary" round @click="transfer">approve</el-button>
                        </el-row>
                    </div>
                </el-col>
            </el-row>
        </el-tab-pane>

        <el-tab-pane label="Token Allowance">
            <el-row :gutter="20">
                <el-col :span="11">
                    <div class="grid-content bg-purple-light">
                        <el-row>
                            <el-input
                                    size="medium"
                                    type="string"
                                    placeholder="base58 encode address"
                                    suffix-icon="el-icon-location"
                                    v-model="inputAllowanceOwner">
                                <template slot="prepend">owner</template>
                            </el-input>
                        </el-row>
                    </div>
                </el-col>
                <el-col :span="10">
                    <div class="grid-content bg-purple">
                        <el-row>
                            <el-input
                                    size="medium"
                                    type="string"
                                    placeholder="base58 encode address"
                                    suffix-icon="el-icon-location"
                                    v-model="inputAllowanceSpender">
                                <template slot="prepend">spender</template>
                            </el-input>
                        </el-row>
                    </div>
                </el-col>
                <el-col :span="2">
                    <div class="grid-content bg-purple">
                        <el-row>
                            <el-button type="primary" round @click="allowance">allowance</el-button>
                        </el-row>
                    </div>
                </el-col>
            </el-row>
        </el-tab-pane>
        <el-tab-pane label="Token TransferFrom">
            TransferFrom
        </el-tab-pane>
        <el-tab-pane label="DApp Settings">
            <el-row :gutter="20">
                <el-col :span="8">
                    <div class="block">
                        <span class="demonstration">Networks:&nbsp;</span>
                        <el-cascader
                                expand-trigger="hover"
                                :options="networkOptions"
                                v-model="networkSelected"
                                @change="networkChange">
                        </el-cascader>
                    </div>
                </el-col>
                <el-col :span="8">
                    <div class="block">
                        <span class="demonstration">Accounts:&nbsp;</span>
                        <el-cascader
                                expand-trigger="hover"
                                :options="accountOptions"
                                v-model="accountSelected"
                                @change="accountChange">
                        </el-cascader>
                    </div>
                </el-col>
            </el-row>
        </el-tab-pane>
    </el-tabs>
</div>
</body>
<!-- import Vue before Element -->
<script src="https://unpkg.com/vue@2.5.17/dist/vue.js"></script>
<script src="https://unpkg.com/axios@0.18.0/dist/axios.min.js"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui@2.4.6/lib/index.js"></script>
<script>
    new Vue({
        el: '#vue-app',
        data: function () {
            return {
                visible: false,
                eventInfoSelect: "",
                eventKey: "",
                inputTransferTo: "",
                inputTransferAmount: "",
                inputAllowanceOwner: "",
                inputAllowanceSpender: "",
                dynamicValidateForm: {
                    domains: [{
                        value: ''
                    }],
                    email: ''
                },
                networkOptions: [{
                    value: 'MainNet',
                    label: 'Main Network',
                }, {
                    value: 'TestNet',
                    label: 'Polaris Test Network'
                },
                    {
                        value: 'Localhost',
                        label: 'Localhost 20336'
                    }],
                networkSelected: ['TestNet'],
                accountSelected: ''
            }
        },
        methods: {
            networkChange(value) {
                let msg = '';
                if (value[0] === 'MainNet') {
                    msg = 'Connecting to Main Network'
                }
                else if (value[0] === 'TestNet') {
                    msg = 'Connecting to Polaris Test Network'
                }
                else if (value[0] === 'Localhost') {
                    msg = 'Connecting to Localhost'
                }
                else {
                    return
                }
                let url = Flask.url_for('change_net');
                let self = this;
                axios.post(url, {
                    network_selected: self.networkSelected
                }).then(function (response) {
                    self.$notify({
                        title: 'Network Change',
                        type: 'success',
                        message: msg,
                        duration: 2000
                    })
                }).catch(error => {
                    if (error.response.status === 400) {
                        self.$notify({
                            title: 'Network Change',
                            type: 'warning',
                            message: error.response.data.result,
                            duration: 2000
                        })
                    }
                    else if (error.response.status === 409) {
                        self.$notify({
                            title: 'Network Change',
                            type: 'warning',
                            message: error.response.data.result,
                            duration: 2000
                        })
                    }
                    else if (error.response.status === 500) {
                        self.$notify({
                            title: 'Network Change',
                            type: 'warning',
                            message: error.response.data.result,
                            duration: 2000
                        })
                    }
                    else if (error.response.status === 501) {
                        self.$notify({
                            title: 'Network Change',
                            type: 'warning',
                            message: error.response.data.result,
                            duration: 2000
                        })
                    }
                    else {
                        this.$notify({
                            title: 'Network Change',
                            type: 'error',
                            message: 'Failed',
                            duration: 2000
                        })
                    }
                });
            },
            queryEvent() {
                if (this.eventInfoSelect === "") {
                    this.$notify({
                        title: 'Query Event Error',
                        type: 'warning',
                        message: 'Please select an event information you want to query.',
                        duration: 800
                    })
                }
                else {
                    let self = this;
                    if (this.eventKey.length === 64) {
                        let url = Flask.url_for("get_smart_contract_event");
                        let self = this;
                        axios.post(url, {
                            tx_hash: self.eventKey,
                            event_info_select: self.eventInfoSelect
                        }).then(function (response) {
                            let result = response.data.result;
                            if (result.length === 0) {
                                self.$message({
                                    message: 'query failed!',
                                    type: 'error',
                                    duration: 800
                                })
                            }
                            else {
                                if (self.eventInfoSelect === 'Notify') {
                                    self.$alert(result, 'Query Result', {
                                        confirmButtonText: 'OK',
                                    })
                                } else {
                                    self.$notify({
                                        title: 'Query Result',
                                        type: 'succeed',
                                        message: result,
                                        duration: 0
                                    })
                                }
                            }
                        })
                    }
                    else if (this.eventKey.length === 0) {
                        self.$notify({
                            title: 'TxHash Error',
                            type: 'error',
                            message: 'Please input TxHash',
                            duration: 800
                        })
                    }
                }
            },
            getName() {
                let url = Flask.url_for("get_name");
                let self = this;
                axios.get(url).then(function (response) {
                    let tokenName = response.data.result;
                    self.$notify({
                        title: 'Token Name',
                        type: 'success',
                        message: tokenName,
                        duration: 0
                    });
                })
            },
            getSymbol() {
                let url = Flask.url_for("get_symbol");
                let self = this;
                axios.get(url).then(function (response) {
                    let tokenSymbol = response.data.result;
                    self.$notify({
                        title: 'Token Symbol',
                        type: 'success',
                        message: tokenSymbol,
                        duration: 0
                    })
                })
            },
            getDecimal() {
                let url = Flask.url_for("get_decimal");
                let self = this;
                axios.get(url).then(function (response) {
                    if (response.status === 200) {
                        let tokenSymbol = response.data.result;
                        self.$notify({
                            title: "Token Decimals",
                            type: 'success',
                            message: tokenSymbol,
                            duration: 0
                        })
                    }
                    else {
                        self.$notify({
                            title: "Token Decimals",
                            type: 'error',
                            message: 'query token decimals failed',
                            duration: 0
                        })
                    }
                })
            },
            transfer() {
                let url = Flask.url_for("transfer");
                let self = this;
                if (self.inputTransferTo.length === 34) {
                    if (self.inputTransferAmount > 0) {
                        self.$confirm('确认转账？', '提示', {
                            confirmButtonText: '确定',
                            cancelButtonText: '取消',
                            type: 'warning',
                            duration: 0
                        }).then(() => {
                                axios.post(url, {
                                    b58_to_address: self.inputTransferTo,
                                    amount: self.inputTransferAmount
                                }).then(function (response) {
                                    let tx_hash = response.data.result;
                                    if (tx_hash.length === 64) {
                                        self.$message({
                                            type: 'success',
                                            message: 'Transfer successfully： '.concat(tx_hash).concat('!'),
                                            duration: 2000
                                        });
                                    }
                                    else {
                                        self.$message({
                                            type: 'error',
                                            message: 'Transfer failed!',
                                            duration: 800
                                        });
                                    }
                                });
                            }
                        ).catch(() => {
                            self.$message({
                                message: '已取消转账',
                                type: 'warning',
                                duration: 800
                            });
                        });
                    }
                    else if (self.inputTransferAmount === 0) {
                        self.$notify({
                            title: "Amount Error",
                            type: 'warning',
                            message: "Please input the amount value great than 0.",
                            duration: 800
                        })
                    }
                    else {
                        self.$notify({
                            title: "Amount Error",
                            type: 'warning',
                            message: "Please input the correct amount value.",
                            duration: 800
                        })
                    }
                }
                else if (self.inputTransferTo.length === 0) {
                    self.$notify({
                        title: "Transfer Error",
                        type: 'error',
                        message: "Please input the address.",
                        duration: 1200
                    })
                }
                else {
                    self.$notify({
                        title: "Transfer Error",
                        type: 'error',
                        message: "Please input the correct base58 encode address.",
                        duration: 1200
                    })
                }
            },
            allowance() {
                let url = Flask.url_for("allowance");
                let self = this;
                if (self.inputAllowanceOwner.length === 34 && self.inputAllowanceSpender.length === 34) {
                    axios.post(url, {
                        b58_owner_address: self.inputAllowanceOwner,
                        b58_spender_address: self.inputAllowanceSpender
                    }).then(function (response) {
                        if (response.status === 200) {
                            self.$notify({
                                title: 'Allowance',
                                type: 'success',
                                message: response.data.result,
                                duration: 0
                            });
                        }
                        else {
                            self.$notify({
                                title: 'Allowance',
                                type: 'error',
                                message: 'query allowance failed',
                                duration: 1200
                            });
                        }
                    })
                }
                else if (self.inputAllowanceSpender.length === 0) {
                    self.$notify({
                        title: 'Allowance Error',
                        type: 'error',
                        message: 'Please input the spender address',
                        duration: 1200
                    })
                }
                else if (self.inputAllowanceOwner.length === 0) {
                    self.$notify({
                        title: 'Allowance Error',
                        type: 'error',
                        message: 'Please input the owner address',
                        duration: 1200
                    })
                }
                else {
                    self.$notify({
                        title: "Transfer Error",
                        type: 'error',
                        message: "Please input the correct base58 encode address.",
                        duration: 1200
                    })
                }
            },
            approve() {

                console.log('TODO');
            },
            submitForm(formName) {
                this.$refs[formName].validate((valid) => {
                    if (valid) {
                        alert('submit!');
                    } else {
                        console.log('error submit!!');
                        return false;
                    }
                });
            },
            resetForm(formName) {
                this.$refs[formName].resetFields();
            },
            removeDomain(item) {
                var index = this.dynamicValidateForm.domains.indexOf(item);
                if (index !== -1) {
                    this.dynamicValidateForm.domains.splice(index, 1)
                }
            },
            addDomain() {
                this.dynamicValidateForm.domains.push({
                    value: '',
                    key: Date.now()
                });
            }
        }
    })
    ;
</script>
</html>